<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{#<style>#}
{#p, h2, h3 {#}
{#  letter-spacing: 1pt;#}
{#}#}
{#</style>#}
<h2 align="CENTER">
    ДОГОВОР № {{ rent.rents_id }}
</h2>
<h2 align="CENTER">
    аренды торгового места.
</h2>
<center>
    <table width="630" border="0" cellpadding="1" cellspacing="0">
        <colgroup>
            <col width="123"/>
            <col width="503"/>
        </colgroup>
        <tbody>
            <tr>
                <td width="123">
                    <p>
                        г. Казань
                    </p>
                </td>
                <td width="503">
                    <p align="RIGHT">
                        «___» ______ 2018 г.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</center>
<p align="JUSTIFY">
    Индивидуальный предприниматель Шишкина Снежана Вячеславовна, действующий на
    основании Свидетельства, именуемый в дальнейшем “Арендодатель”, с одной
    стороны, и {{ rent.tenants.name }},
    действующий на основании Паспорта серия {{ rent.tenants.pass_serial }} номер {{ rent.tenants.pass_number }}
    выдан {{ rent.tenants.pass_given }}, именуемое в дальнейшем “Арендатор”, с другой
    стороны, заключили настоящий Договор о нижеследующем:
</p>
<h3>
    1. Предмет Договора
</h3>
<p align="JUSTIFY">
    1.1. Арендодатель передает, а Арендатор принимает в аренду во временное
    пользование торговое место
        {% for act in acts %}
             {{ act.shelf }}
        {% endfor %}
    по адресу: г. Казань, ул. Фучика 90
    ТРЦ «Франт», в состоянии, позволяющем его нормальную эксплуатацию.
</p>
<h3>
    2. Расчеты по договору
</h3>
<p align="JUSTIFY">
    2.1. Стоимость аренды на неделю составляет ________ рублей. НДС не
    облагается.
</p>
<p align="JUSTIFY">
    2.2. Минимальный срок аренды- 2 недели.
</p>
<p align="JUSTIFY">
    2.3. С арендаторов перепродающих товары взимается 10% с продаж.
</p>
<p align="JUSTIFY">
    2.4. Оплата производится наличным или безналичным путем в кассу
    Арендодателя.
</p>
<p align="JUSTIFY">
    2.5. Оплата аренды производится еженедельно в порядке 100% предоплаты,
    путем перечисления суммы, определенной договором.
</p>
<h3>
    3. Ответственность сторон
</h3>
<p align="JUSTIFY">
    3.1. Арендодатель обязан:
</p>
<p align="JUSTIFY">
    3.1.1. Содержать помещение в исправном состоянии.
</p>
<p align="JUSTIFY">
    3.1.2. Нести материальную ответственность за товар, предоставленный
    Арендатором.
</p>
<p align="JUSTIFY">
    3.1.3. Соблюдать внутренний регламент и режим работы магазина, в котором
    находится торговое место.
</p>
<p align="JUSTIFY">
    3.1.4. Выложить товар арендатора на интернет - площадке в течение двух
    рабочих дней.
</p>
<p align="JUSTIFY">
    3.2. Арендатор обязан:
</p>
<p align="JUSTIFY">
    3.2.1. Использовать помещение исключительно по его прямому назначению в
    соответствии с настоящим договором.
</p>
<p align="JUSTIFY">
    3.2.2. Своевременно вносить арендную плату за использование торгового
    места.
</p>
<p align="JUSTIFY">
    3.2.3. При прекращении настоящего договора вернуть Арендодателю место в том
    состоянии, в котором он его получил.
</p>
<p align="JUSTIFY">
    3.2.4. Арендатор передает товар по акту приема-передачи (Приложение №1).
</p>
<p align="JUSTIFY">
    3.2.5. За день до истечения срока аренды уведомить Арендодателя о намерении
    продлить аренду торгового места.
</p>
<p align="JUSTIFY">
    3.3. Арендатор имеет право:
</p>
<p align="JUSTIFY">
    3.3.1. Занимать более одного торгового места.
</p>
<p align="JUSTIFY">
    3.3.2. На продление срока аренды торгового помещения.
</p>
<h3>
    4. Срок действия договора
</h3>
<p align="JUSTIFY">
    <a name="_GoBack"></a>
    4.1. Договор вступает в силу с даты его подписания сторонами и действует до
    31.12.2018г.
</p>
<h3>
    <strong>5. Порядок разрешения споров</strong>
</h3>
<p align="JUSTIFY">
    5.1. Изменение условий договора, его расторжение и прекращение допускаются
    по соглашению сторон.
</p>
<p align="JUSTIFY">
    5.2. Споры, возникающие при исполнении настоящего договора, разрешаются в
    досудебном порядке, путём выставления претензий.
</p>
<h3>
    6. Форс-мажор
</h3>
<p align="JUSTIFY">
    6.1. Стороны освобождаются от ответственности за частичное или полное
    неисполнение обязательств по настоящему Договору, если это неисполнение
    явилось следствием обстоятельств непреодолимой силы, возникших после
    заключения настоящего Договора, которые Сторона не могла ни предвидеть, ни
    предотвратить разумными мерами.
</p>
<p align="JUSTIFY">
    6.2. К вышеуказанным обстоятельствам в контексте настоящего Договора, в
    частности, относятся: стихийные бедствия, война или военные действия,
    забастовка в отрасли или регионе, а также их последствия; принятие органами
    государственной власти нормативного акта, повлекшего невозможность
    исполнения настоящего Договора любой из Сторон. Данный перечень
    обстоятельств непреодолимой силы не является исчерпывающим и может включать
    все иные обстоятельства, подпадающие в соответствии с действующим
    законодательством РФ под понятие непреодолимой силы.
</p>
<p align="JUSTIFY">
    6.3. О наступлении обстоятельств непреодолимой силы Стороны обязаны
    незамедлительно информировать друг друга.
</p>
<h3>
    7. Заключительные положения
</h3>
<p align="JUSTIFY">
    7.1. Договор действует с момента его подписания сторонами до полного
    исполнения Сторонами принятых на себя обязательств.
</p>
<p align="JUSTIFY">
    7.2. Настоящий договор составлен в двух экземплярах, по одному для каждой
    из сторон, обладающих равной юридической силой.
</p>
<p align="JUSTIFY">
    7.3. Изменения и дополнения к настоящему договору оформляются в письменном
    виде, подписываются сторонами и являются неотъемлемой частью настоящего
    договора.
</p>
<h3>
    8. Банковские реквизиты, адреса и подписи сторон:
</h3>
<center>
    <table width="630" border="0" cellpadding="1" cellspacing="0">
        <colgroup>
            <col width="313"/>
            <col width="313"/>
        </colgroup>
        <tbody>
            <tr valign="TOP">
                <td width="360" height="9">
                    <p>
                        Арендатор:
                    </p>
                    <p>
                        {{ rent.tenants.name }}
                    </p>
                    <p>
                        номер Паспорта: {{ rent.tenants.pass_serial }} {{ rent.tenants.pass_number }}
                    </p>
                    <p>
                        выдан: {{ rent.tenants.pass_given }}
                    </p>
                    <p>
                        Адрес: {{ rent.tenants.address }}
                    </p>
                    <p>
                        Телефон: {{ rent.tenants.telephone }}
                    </p>
                    <p>
                        Подпись__________
                    </p>
                </td>
                <td width="360">
                    <p>
                        Арендодатель:
                    </p>
                    <p>
                        ИП Шишкина Снежана Вячеславовна
                    </p>
                    <p>
                        Адрес: г. Казань ул. Фучика 90 ТРЦ
                    </p>
                    <p>
                        ОГРНИП 316169000137272
                    </p>
                    <p>
                        e-mail: sneg100491@ya.ru
                    </p>
                    <p>
                        Подпись__________
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</center>
