{% extends 'tenants_app/_base.html' %}

{% block title %}
    Продажа
{% endblock %}

{% block content %}

<form action="{% url 'tenants:create_cash' instance.orders_id %}" method="POST">
    {% csrf_token %}

    <hr />

    <h2>Заполните поля:</h2>
    {{ cash_form.non_field_errors }}
<div class="fieldWrapper">
{#    {{ cash_form.cash_date.errors }}#}
{#    <label for="{{ cash_form.cash_date.id_for_label }}">Дата продажи:</label>#}
    {{ cash_form.cash_date.as_hidden }}
</div>
    <br>
<div class="fieldWrapper">
    {{ cash_form.sell.errors }}
    <label for="{{ cash_form.sell.id_for_label }}">Продано:</label>
    {{ cash_form.sell }}
</div>
    <br>
{#<div class="fieldWrapper">#}
{#    {{ cash_form.nal.errors }}#}
{#    <label for="{{ cash_form.nal.id_for_label }}">Наличный расчет:</label>#}
{#    {{ cash_form.nal }}#}
{#</div>#}
<div class="fieldWrapper">
    {{ cash_form.discount.errors }}
    <label for="{{ cash_form.discount.id_for_label }}">Скидка:</label>
    {{ cash_form.discount }}
</div>
<div class="fieldWrapper">
    {{ cash_form.orders.as_hidden }}
</div>
    <br>
    {{ cash_form.cash_nal.as_hidden }}
    {{ cash_form.cash_beznal.as_hidden }}

    <input type="submit" value="Далее" onclick="this.disabled=true,this.form.submit();" />
</form>

{% endblock %}

