{% extends 'tenants_app/_base.html' %}

{% block title %}
    Продажа
{% endblock %}

{% block content %}

<script type="text/javascript">
    function submit_form() {
        var x;
        x = document.getElementById("form").value;
        if (x == "") {
            alert("Укажите кол-во проданного товара");
            event.preventDefault();
        } else if (x == 0) {
            alert("Нельзя ввести 0");
            event.preventDefault();
        } else if (x != parseInt(x) ) {
            alert("Введите целое число");
            event.preventDefault();
        }
    }
</script>

    <h2>Заполните поля:</h2>
    {{ cash_form.non_field_errors }}
{#<div class="fieldWrapper">#}
{#    {{ cash_form.cash_date.errors }}#}
{#    <label for="{{ cash_form.cash_date.id_for_label }}">Дата продажи:</label>#}
{#    {{ cash_form.cash_date.as_hidden }}#}
{#</div>#}
{#    <br>#}
{#<div class="fieldWrapper">#}
{#    {{ cash_form.sell.errors }}#}
{#    <label for="{{ cash_form.sell.id_for_label }}">Продано:</label>#}
{#    {{ cash_form.sell }}#}
{#</div>#}
{#    <br>#}

<form class="form" method="POST">
    {% csrf_token %}
      <input type="number" id="form" name="sell" placeholder="Продано товара">
    <br>
    <br>
      <input type="number" name="discount" placeholder="Скидка">
    <br>
    <br>
    <button class="btn btn-outline-primary" type="submit" onclick="submit_form()">Далее</button>
</form>

{#<div class="fieldWrapper">#}
{#    {{ cash_form.discount.errors }}#}
{#    <label for="{{ cash_form.discount.id_for_label }}">Скидка:</label>#}
{#    {{ cash_form.discount }}#}
{#</div>#}
<div class="fieldWrapper">
    {{ cash_form.orders.as_hidden }}
</div>
    <br>
    {{ cash_form.cash_nal.as_hidden }}
    {{ cash_form.cash_beznal.as_hidden }}


{% endblock %}

