{% extends 'tenants_app/_base.html' %}

{% block title %}
    Создать нового арендатора
{% endblock %}

{% block content %}

    <script type="text/javascript">
        $('#edit_form').submit( function(event) {
    // disable to avoid double submission
    $('#submit_button').attr('disabled', true);
});


    </script>


<form action="{% url 'tenants:create' %}" method="POST">
    {% csrf_token %}

    <hr />

    <h4>Заполните поля:</h4>
    {{ tenants_form.as_p }}

    <input type="submit" value="Создать" onclick="this.disabled=true,this.form.submit();" />
</form>

{% endblock %}
