{% extends 'tenants_app/_base.html' %}

{% block title %}
    Продажа
{% endblock %}

{% block content %}

<form action="{% url 'tenants:create_cash_nal_beznal' instance.id_cash %}" method="POST">
    {% csrf_token %}

    <hr />

    <h3>Сумма покупки: {{ instance.all_cash }} руб.</h3>
    <br>
    {{ cash_form.non_field_errors }}
<div class="fieldWrapper">
    {{ cash_form.cash_nal.errors }}
    <label for="{{ cash_form.cash_nal.id_for_label }}">Наличный расчет:</label>
    {{ cash_form.cash_nal }}
</div>
    <br>
<div class="fieldWrapper">
    {{ cash_form.cash_beznal.errors }}
    <label for="{{ cash_form.cash_beznal.id_for_label }}">Безналичный расчет:</label>
    {{ cash_form.cash_beznal }}
</div>
    {{ cash_form.cash_date.as_hidden }}
    {{ cash_form.sell.as_hidden }}
    {{ cash_form.discount.as_hidden }}
    {{ cash_form.orders.as_hidden }}
    <br>

    <input type="submit" value="Продать" onclick="this.disabled=true,this.form.submit();" />
</form>

{% endblock %}

