{% extends 'tenants_app/_base.html' %}

{% block title %}
    Создать акт
{% endblock %}

{% block content %}

<form action="{% url 'tenants:create_act' instance.rents_id %}" method="POST">
    {% csrf_token %}

    <hr />

    <h2>Заполните поля:</h2>
    {{ act_form.non_field_errors }}
<div class="fieldWrapper">
    {{ act_form.shelf.errors }}
    <label for="{{ act_form.shelf.id_for_label }}">Полка:</label>
    {{ act_form.shelf }}
                {% if act_form.shelf.errors %}
                    <div class="alert alert-danger">
                        {{ act_form.shelf.errors }}
                    </div>
                {% endif %}
</div>
    <br>
<div class="fieldWrapper">
    {{ act_form.start_date.errors }}
    <label for="{{ act_form.start_date.id_for_label }}">Начало аренды:</label>
    {{ act_form.start_date }}
</div>
    <br>
<div class="fieldWrapper">
    {{ act_form.stop_date.errors }}
    <label for="{{ act_form.stop_date.id_for_label }}">Конец аренды:</label>
    {{ act_form.stop_date }}
</div>
    <br>
<div class="fieldWrapper">
    {{ act_form.payment.errors }}
    <label for="{{ act_form.payment.id_for_label }}">Оплата:</label>
    {{ act_form.payment }}
</div>
<div class="fieldWrapper">
    {{ act_form.rents.as_hidden }}
</div>
    <br>

    <input type="submit" value="Создать" />
</form>

{% endblock %}

