{% extends 'tenants_app/_base.html' %}

{% block title %}
    Продление акта
{% endblock %}

{% block content %}

<form action="{% url 'tenants:edit_act_date' instance.act_number %}" method="POST">
    {% csrf_token %}

    <hr />

    <h2>Заполните поля:</h2>
    {{ act_form.non_field_errors }}
<div class="fieldWrapper">
    {{ act_form.shelf.as_hidden }}
</div>
<div class="fieldWrapper">
    {{ act_form.start_date.as_hidden }}
</div>
<div class="fieldWrapper">
    {{ act_form.stop_date.errors }}
    <label for="{{ act_form.stop_date.id_for_label }}">Введите новую дату окончания срока аренды:</label>
    {{ act_form.stop_date }}
</div>
    <br>
<div class="fieldWrapper">
    {{ act_form.payment.errors }}
    <label for="{{ act_form.payment.id_for_label }}">Оплата за продление:</label>
    {{ act_form.payment }}
</div>
<div class="fieldWrapper">
    {{ act_form.rents.as_hidden }}
    {{ act_form.category.as_hidden }}
</div>
    <br>

    <input type="submit" value="Сохранить" onclick="this.disabled=true,this.form.submit();" />
</form>

{% endblock %}
