{% extends 'tenants_app/_base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}

   <div class="container">
       <div class="row">
             <div class="col-lg-6">

  {% if page_object.object_list %}
  <h4>Список арендаторов:</h4>
<ul>
  {% for tenant in page_object.object_list %}
      <li><a href="{% url 'tenants:view' tenant.tenants_id %}">{{ tenant.name }}</a>
      (<a href="{% url 'tenants:edit' tenant.tenants_id %}">изменить</a>)</li>
  {% endfor %}
</ul>
   {% endif %}
             </div>

             <div class="col-lg-6">
{% if acts %}
    <h4>Заканчивается срок аренды:</h4>
<ul>
  {% for act in acts %}
      <li> <a href="{% url 'tenants:view_act' act.act_number %}">Акт №{{ act.act_number }}</a>
          - полка {{ act.shelf }} ({{ act.rents.tenants.name }}, {{ act.term_left.days }} дней осталось)</li>
  {% endfor %}
</ul>
{% endif %}
             </div>
        </div>
    </div>

{% endblock %}
