{% extends 'tenants_app/_base.html' %}

{% block title %}
    Касса
{% endblock %}

{% block content %}

<script type="text/javascript">
    function empty() {
        var x;
        x = document.getElementById("search_order").value;
        if (x == "") {
            alert("Введите запрос в поиск");
            return false;
        }
    }
</script>

{#    <style>#}
{#        .btn {#}
{#            background-color: #5897fb;#}
{#            color: white;#}
{#            font: 20px/20px Arial#}
{#        }#}
{#        .btn:hover {#}
{#            background-color: #9acfea;#}
{#            color: white;#}
{#            font: 20px/20px Arial#}
{#        }#}
{#    </style>#}

    <h4>Поиск товара или полки:</h4>

 <form class="form-inline" action="{% url 'tenants:search_order' %}" method="get">
    <input class="form-control mr-sm-2" type="search" id="search_order" name="q" placeholder="Поиск товара или полки" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit" onClick="empty()">Найти</button>
 </form>

    {% block content_2 %}
    {% endblock %}

    <br>

{#<div class="dropdown">#}
{#  <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink"#}
{#     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Выберите полку#}
{#  </a>#}
{##}
{#  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#      {% for shelf in shelfs %}#}
{#         <a class="dropdown-item" href="{% url 'tenants:view_shelf' shelf.shelf_id %}">{{ shelf.name }}</a>#}
{#      {% endfor %}#}
{#  </div>#}
{#</div>#}


{% endblock %}
