{% extends 'tenants_app/_base.html' %}

{% block title %}
    Книга продаж
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function empty() {
            var x;
            x = document.getElementById("datepicker").value;
            if (x == "") {
                alert("Введите дату");
                return false;
            }
        }
    </script>


    <style>
    h4 {text-align: center}
    ul {font: 17px/20px Arial, sans-serif}
    .a2 {font: 17px/20px Arial, sans-serif}
    .btn-primary {font: 17px/20px Arial}
    </style>

    <h4>Книга продаж
        {% if query %}
        ({{ show_date }})
        {% endif %}
        {% if today %}
        ({{ today }})
        {% endif %}
    </h4>

    <p>Фильтры поиска:</p>
    <a href="{% url 'tenants:view_cash' %}">
        <button type="button" class="btn btn-primary">Сегодня</button></a>
    <a href="{% url 'tenants:search_cash' pk=1 %}">
        <button type="button" class="btn btn-primary">Неделя</button></a>
    <a href="{% url 'tenants:search_cash' pk=2 %}">
        <button type="button" class="btn btn-primary">Месяц</button></a>
    <a href="{% url 'tenants:search_cash' pk=3 %}">
        <button type="button" class="btn btn-primary">Год</button></a>

    <br>
    <br>

    <p>Поиск по дате:</p>
    <form action="{% url 'tenants:search_cash' pk=4 %}" method="get">
        <input title="" type="date" id="datepicker" autocomplete="off" name="q">
        <input type="submit" value="Найти" onClick="empty()">
    </form>

    <br>
    <br>
<div class="container">
    <div class="row">

        {% if paginator_active %}

        <div class="col-lg-3">
        <p>Наименование товара:</p>
            <ul>
            {% for cash in page_object.object_list %}
                <a class="a2" href="{% url 'tenants:view_order' cash.orders.orders_id %}">{{ cash.orders.name_item }}</a>
                (<a class="a2" href="{% url 'tenants:view_shelf' cash.orders.act.shelf.shelf_id %}">{{ cash.orders.act.shelf.name }}</a>)
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Количество:</p>
            <ul>
            {% for cash in page_object.object_list %}
                {{ cash.sell }}
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Цена:</p>
            <ul>
            {% for cash in page_object.object_list %}
                {{ cash.all_cash }}
                <br>
            {% endfor %}
            </ul>
        </div>
            <div class="col-lg-3">
        <p>Дата продажи:</p>
            <ul>
            {% for cash in page_object.object_list %}
                {{ cash.cash_date }}
                <br>
            {% endfor %}
            </ul>
            </div>

        {% else %}

        <div class="col-lg-3">
        <p>Наименование товара:</p>
            <ul>
            {% for cash in cashes %}
                <a class="a2" href="{% url 'tenants:view_order' cash.orders.orders_id %}">{{ cash.orders.name_item }}</a>
                (<a class="a2" href="{% url 'tenants:view_shelf' cash.orders.act.shelf.shelf_id %}">{{ cash.orders.act.shelf.name }}</a>)
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Количество:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.sell }}
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Цена:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.all_cash }}
                <br>
            {% endfor %}
            </ul>
        </div>
            <div class="col-lg-3">
        <p>Дата продажи:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.cash_date }}
                <br>
            {% endfor %}
            </ul>
            </div>

        {% endif %}
    </div>
</div>

    <br>
    <br>


{% endblock %}
