{% extends 'tenants_app/_base.html' %}

{% block content %}

<div>
    <p>ФИО: {{ tenant.name }}</p>
    <p>Телефон: {{ tenant.telephone }}</p>
    <p>E-mail: {{ tenant.email }}</p>
    <p>Серия паспорта: {{ tenant.pass_serial }}</p>
    <p>Номер паспорта: {{ tenant.pass_number }}</p>
    <p>Выдан: {{ tenant.pass_given }}</p>
    <p>Адрес: {{ tenant.address }}</p>
</div>

    <br>
    <a href="{% url 'tenants:create_rent' tenant.tenants_id %}">Cоздать договор</a>
    <br>
    <br>

{% if rents %}
   <h4>Договора:</h4>
<ul>
  {% for rent in rents %}
      {% if rent.is_active == True %}
          <li><a href="{% url 'tenants:view_rent' rent.rents_id %}">№{{ rent.rents_id }}</a>
              {% if rent.is_break == False %}
                ({{ rent.term_left.days }} дней осталось)
              {% endif %}
          {% if rent.is_break == True %}
              (договор приостановлен)
          {% endif %}
          ( <a href="{% url 'tenants:edit_rent' rent.rents_id %}">продлить</a>
{#          /#}
{#              {% if rent.is_break == False %}#}
{#                  <a href="{% url 'tenants:end_rent' rent.rents_id %}">приостановить</a>#}
{#              {% endif %}#}
{#              {% if rent.is_break == True %}#}
{#                  <a href="{% url 'tenants:restart_rent' rent.rents_id %}">возобновить</a>#}
{#              {% endif %}#}
              )
          </li>
      {% endif %}
      {% if rent.is_active == False %}
          <li><a href="{% url 'tenants:view_rent' rent.rents_id %}">№{{ rent.rents_id }}</a>
          (срок договора истек)
          ( <a href="{% url 'tenants:edit_rent' rent.rents_id %}">продлить</a> )</li>
      {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
