{% extends 'tenants_app/_base.html' %}

{% block title %}
    Страница полки {{ shelf.name }}
{% endblock %}

{% block content %}

    <style>
    h2 {text-align: center}
    ul {font: 17px/20px Arial, sans-serif}
    .a2 {font: 17px/20px Arial, sans-serif}
    </style>

<div>
    <p>Полка: {{ shelf.name }}</p>
    {% if act %}
    <p>Номер договора: <a href="{% url 'tenants:view_rent' act.rents.rents_id %}">
        №{{ act.rents.rents_id }}</a>
        (<a href="{% url 'tenants:view_tenant' act.rents.tenants.username %}">{{ act.rents.tenants.name }}</a>)</p>
    <p>Номер акта: <a href="{% url 'tenants:view_act' act.act_number %}">№{{ act.act_number }}</a></p>

        <br>


<div class="container">
    <div class="row">
            <div class="col-lg-3">
        <p>Наименование товара:</p>
            <ul>
            {% for order in orders %}
                <a class="a2" href="{% url 'tenants:create_cash' order.orders_id %}">{{ order.name_item }}</a>
                (цена: {{ order.price }})
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Кол-во на полке:</p>
            <ul>
            {% for order in orders %}
                {{ order.quality }}
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Продано:</p>
            <ul>
            {% for order in orders %}
                {{ order.all_sell }}
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Забрал арендатор:</p>
            <ul>
            {% for order in orders %}
                {{ order.all_take }}
                <br>
            {% endfor %}
            </ul>
            </div>
    </div>
</div>

    <br>
    <br>

    {% endif %}
</div>
{% endblock %}
