{% extends 'tenants_app/_base.html' %}

{% block title %}
    Страница договора № {{ rent.rents_id }}
{% endblock %}

{% block content %}

    <script type="text/javascript">

            $('document').ready(function () {
        $(".btnPrint").printPage({
  url: "{% url 'tenants:print_rent' rent.rents_id %}",
  attr: "href",
  message:"Печать документа"
})

    });

    </script>

<style>
    p1 {
        font: 20px/30px Arial, sans-serif;
        color: red;
    }
</style>

<div>
    <p>Арендатор: {{ rent.tenants.name }}</p>
    <p>Номер договора: {{ rent.rents_id }}</p>
    <p>Дата заключения: {{ rent.start_date }}</p>
    <p>Дата истечения: {{ rent.stop_date }}</p>
    {% if rent.is_active == True %}
    <p>До истечения договора: {{ rent.term_left.days }} дней
        (<a href="{% url 'tenants:edit_rent' rent.rents_id %}">продлить</a>
        / <a href="{% url 'tenants:end_rent' rent.rents_id %}">приостановить</a>) </p>
    {% endif %}
    {% if rent.is_active == False %}
    <p>Срок договора истек</p>
    {% endif %}
    {% if rent.is_break == True %}
    <p1>Договор приостановлен (<a href="{% url 'tenants:restart_rent' rent.rents_id %}">возобновить</a>)</p1>
    {% endif %}
</div>


    {% if acts %}
    <button class="btnPrint" type="button">Печать договора</button>
    <br>
    <br>
    {% endif %}
    <a href="{% url 'tenants:create_act' rent.rents_id %}">Новый акт</a>
    <br>
    <a href="{% url 'tenants:view' rent.tenants.tenants_id %}">Вернуться к странице арендатора</a>
    <br>
    <br>

{% if acts %}
    <h4>Акты:</h4>
<ul>
  {% for act in acts %}
      {% if act.is_active == True %}
          <li><a href="{% url 'tenants:view_act' act.act_number %}">№{{ act.act_number }}</a>
          ({{ act.term_left.days }} дней осталось)
          (<a href="{% url 'tenants:edit_act' act.act_number %}">изменить</a>)</li>
      {% endif %}
      {% if act.is_active == False %}
          <li><a href="{% url 'tenants:view_act' act.act_number %}">№{{ act.act_number }}</a>
          (срок аренды истек)
          (<a href="{% url 'tenants:edit_act' act.act_number %}">изменить</a>)</li>
      {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
