{% extends 'tenants_app/_base.html' %}

{% block content %}

    <style>
    h2 {text-align: center}
    ul {font: 17px/20px Arial, sans-serif}
    .a2 {font: 17px/20px Arial, sans-serif}
    </style>

    <a href="{% url 'tenants:sales_ledger' %}">Вернуться к списку полок</a>

    <h2>Книга продаж</h2>

    <br>
    <br>
<div class="container">
    <div class="row">
            <div class="col-lg-3">
        <p>Наименование товара:</p>
            <ul>
            {% for cash in cashes %}
                <a class="a2" href="{% url 'tenants:edit_cash' cash.id_cash %}">{{ cash.orders.name_item }}</a>
                ({{ cash.orders.act.shelf.name }})
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Продано:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.sell }}
                <br>
            {% endfor %}
            </ul>
            </div>
            <div class="col-lg-3">
        <p>Забрал арендатор:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.take }}
                <br>
            {% endfor %}
            </ul>
        </div>
            <div class="col-lg-3">
        <p>Дата продажи:</p>
            <ul>
            {% for cash in cashes %}
                {{ cash.cash_date }}
                <br>
            {% endfor %}
            </ul>
            </div>
    </div>
</div>

    <br>
    <br>


{% endblock %}
